<%- include('partials/head.ejs');%>
    <div class="home">
       <div class="d-flex justify-content-between"><h3 class="branch">Publishing</h3><a  class="title-create" href="/users/articles"><h5>Crie seus Artigos!</h5></a></div>
        <div class="sessao-principal">
            <div class="session1">
                <h4 class="subtitle">Crie e leia Artigos!</h4>
                <h2 class="title">Publishing suas publicações on-line!</h2>
            </div>
            <div class="session2">
                <div class="button btn-cad"><a href="/users/create">Criar Conta</a></div>
                <div class="button btn-login"><a href="/users/login">Entrar</a></div>
            </div>
        </div>
        <div class="copyright">
            <h5>2022 copyright &copy; made by <a class="link-git" href="https://github.com/Pedro-HenriqueDev">Pedro-HenriqueDev</a></h5>
        </div>
    </div>
    

<%- include('partials/footer.ejs');%>
    